/* body {
    text-align: center;
}

div {
    margin : auto;
    margin-top: 20px;
    height: 100px;
    width : 500px;
    border : 1px solid black;
} */

div {
    height : 100px;
    width : 300px;
    background-color: pink;
    border: 1px solid black;
}

ul {
    background-color: blue;
}

li {
    background-color: green;
}