h1 {
    background-color: yellow;
    border: 2px solid black;
}

@media (width: 400px) {        /* Changes will be there at exact 400px width */
    h1 {
        background-color: red;
        color: white;
    }
    div {
        height: 100px;
        width: 100px;
        background-color: rgb(120, 60, 175);
    }
}

@media (min-width: 400px) {
    h1 {
        background-color: rgb(26, 121, 92);
    }
}

@media (min-width: 200px) and (max-width: 500px) {
    div {
        height: 100px;
        width: 100px;
        background-color: rgb(180, 180, 67);
    }
}

@media (orientation: landscape) {
    h1 {
        background-color: aqua;
        color: blueviolet;
    }
}