/* body {
  font-family: Arial;
}

.green {
  color: green;
}

.underline {
  text-decoration: solid red underline;
}

.bg {
  background-color: yellow;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.bg {
  background-color: yellow;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
} */

.style {
  border : 1px solid black;
  background-color: pink;
}

.change {
  background-color: blue;
  color: white;
}

.heading {
  text-decoration: solid black underline;
  color : purple;
}